/********** GLOBAL / ELEMENT TREATMENT **********/

@font-face {
  font-family: "scmagic";
  src: url("../fonts/scmagic.ttf");
}

html, body {
	border: 0;
	margin: 0;
  color: #FEFEFE;
  box-sizing: border-box;
}

header {
	background: #488bf4;
  background: rgba(72,139,244,0.5);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

body {
  background-image: url("../img/bg.jpg");
  background-repeat: repeat;
  font-family: "scmagic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
  padding: 0.25rem;
}

/********** CLASS SPECIFIC MODS **********/

/* Header */

.app-title {
  padding: 0.5rem;
  font-size: 2rem;
  color: #EFEFEF;
  text-align: center;
}

.app-subtitle {
  font-size: 1.25rem;
  display: block;
  color: #fefefe;
}


/* Progress */

.app-description {
  color: #CCC;
  padding: 1rem;
  background: rgba(1,1,1,0.2);
}

.app-status-wrapper, .royale-api-filter {
  display: none;
}

.status-message {
  text-align: center;
  padding: 1rem;
  background: rgba(0,0,0,0.5);
  color: #CCC;
}

/* Displayed Info */

.card {
  display: flex;
  flex-basis: 40%;
  margin: 2%;
  padding: 3px;
  flex-direction: column;
  background: rgba(100,100,100, 0.7);
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  filter: grayscale(25%);
  transition: background 0.3s, filter 0.3s;
  border: 3px solid #333;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.8);
  cursor: pointer;
}

.card.grayscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.name, .percent, .use-rate {
  text-align: center;
}

.perc, .usage {
  padding: 5px;
  display: block;
  font-size: 1.2rem;
  color: #ffab18;
}

.card:hover, .card.active {
  transform: scale(1.1);
  filter: grayscale(0%);
  border: 2px solid #EEE;
  background: rgba(17,96,153,.5);
}

.card img {
  max-width: 64px;
}

.card-thumb {
  max-width: 42px;
}
.get-data-wrapper {
  text-align: center;
}
.returned-data-stats {
  display: flex;
  flex-direction: column;
  background: rgba(0,0,0,0.2);
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
.current-battle-data-wrapper, .total-battle-data-wrapper {
  flex-basis: 50%;
  text-align: center;
  padding: 0.5rem;
}
.current-battle-data-wrapper {
  border-radius: 1rem 0 0 1rem;
}
.total-battle-data-wrapper {
  border-radius: 0 1rem 1rem 0;
}
/* Progress / Meter */

.meter { 
  height: 20px;
  position: relative;
  background: rgba(0,0,0,0.25);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

.orange > span {
  background-color: #f1a165;
  background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
}

.red > span {
  background-color: #f0a3a3;
  background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
}

.meter > span:after, .animate > span > span {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .2) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, .2) 50%, 
    rgba(255, 255, 255, .2) 75%, 
    transparent 75%, 
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.meter > span:after, .animate > span > span {
  animation: move 2s linear infinite;
}

@keyframes expandWidth {
   0% { width: 0; }
   100% { width: auto; }
}




/********** LAYOUT CONTAINERS **********/

#clash-cards {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.data-stats-wrapper {
  background: rgba(0,0,0,0.2);
  display: block;
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
}
.all-decks-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.current-battle-total {
  color: #60DA61;
  font-size: 1.2em;
}
.total-battle-total {
  color: #ffab18;
  font-size: 1.2em;
}
.app-status-wrapper {
  display: none;
}
/********** BUTTON STYLING **********/
/*DEFAULT SIZING*/

.clash-cr-btn * {
  font-size: 16px;
  font-family: 'scmagic';
}
.clash-cr-btn-sml * {
  font-size: 8px;
  font-family: 'scmagic';
}
.clash-cr-btn-lrg * {
  font-size: 24px;
  font-family: 'scmagic';
}
.get-data-text {
  margin: 1.75em -2.25em;
}
.refresh-text {
  margin: 1.75em -2.25em;
}
.couche1 {
  position: relative;
  -webkit-border-radius: 0.6875em;
  -moz-border-radius: 0.6875em;
  border-radius: 0.6875em;
  width:18.75em;
  height:6.25em;
  background:black;
  cursor:pointer;
  margin : 1em auto; 
}
.couche1 {
  -webkit-box-shadow: 0 0.6875em 0.0125em #301C09;
  -moz-box-shadow: 0 0.6875em 0.0125em #301C09;
  box-shadow: 0 0.6875em 0.0125em #301C09;
}

.couche2 {
  position:absolute;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  border-radius: 0.625em;
  width:18.375em;
  height:5.875em;
  margin-top:0.1875em;
  margin-left:0.1875em;
}
.couche2.yellow {
  background:#FDA80D;
  -webkit-box-shadow: 0 0.5742em 0 #AF6B06;
  -moz-box-shadow: 0 0.5742em 0 #AF6B06;
  box-shadow: 0 0.5742em 0 #AF6B06;
}
.couche2.blue {
  background:#2199FF;
  -webkit-box-shadow: 0 0.5742em 0 #004FA5;
  -moz-box-shadow: 0 0.5742em 0 #004FA5;
  box-shadow: 0 0.5742em 0 #004FA5;
}
.couche23 {
  position:absolute;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  border-radius: 0.625em;
  width:18.25em;
  height:5em;
  margin-top:0.3125em;
  margin-left:0.0625em;
}
.couche23.yellow {
  -webkit-box-shadow: 0 -0.25em 0.3125em 0 #FFDC33;
  -moz-box-shadow:    0 -0.25em 0.3125em 0 #FFDC33;
  box-shadow:         0 -0.25em 0.3125em 0 #FFDC33;
}
.couche23.blue{
  -webkit-box-shadow: 0 -0.25em 0.3125em 0 #3EBAFF;
  -moz-box-shadow:    0 -0.25em 0.3125em 0 #3EBAFF;
  box-shadow:         0 -0.25em 0.3125em 0 #3EBAFF;
  color: #3EBAFF;
}
.couche3 {
  position:absolute;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  border-radius: 0.625em;
  margin-top:0;
  margin-left:0.3125em;
  width:17.5625em;
  height:5.125em;
}
.couche3.yellow {
  background:rgba(255,187,42,1);
  -webkit-box-shadow: 0 0.25em 0.1875em 0 #FE8906;
  -moz-box-shadow:    0 0.25em 0.1875em 0 #FE8906;
  box-shadow:         0 0.25em 0.1875em 0 #FE8906;
}
.couche3.blue{
  background:#4CADFF;
  -webkit-box-shadow: 0 0.25em 0.1875em 0 #2181FC;
  -moz-box-shadow:    0 0.25em 0.1875em 0 #2181FC;
  box-shadow:         0 0.25em 0.1875em 0 #2181FC;
  color: #3EBAFF;
}
.couche4 {
  position:absolute;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  border-radius: 0.625em;
  margin-top:0.3125em;
  margin-left:0.1875em;
  width:17.1875em;
  height:2.375em;
}
.couche4.yellow {
  background:#FFD053;
}
.couche4.blue{
  background:#67BCFF;
}
.couche5 {
  position:absolute;
  -webkit-border-radius: 45%;
  -moz-border-radius: 45%;
  border-radius: 45%;
  margin-top:0;
  margin-left:16.6875em;
  width:0.4375em;
  height:0.5625em; 
}
.couche5.yellow {
  background:#FFF1B6;
}
.couche5.blue{
  background:#D9FFFF;
}
.battle{
  position:absolute;
  font-style: normal;
  font-weight: 400;
  color:#FFFFCC;
/*  margin-top:1.75em; 
  margin-left:6.125em;*/
}
.battle.yellow {
  text-shadow: -0.0625em 0 0.0625em #582E00, 
            0.0625em 0 0.0625em #582E00,
            0 -0.0625em 0.0625em #582E00,
            0 0.25em 0.0625em #582E00,
            -0.125em 0.25em 0.0625em #582E00,
            0.125em 0.1875em 0.125em #582E00;
}

.battle.blue {
  text-shadow: -0.0625em 0 0.0625em #002F83, 
            0.0625em 0 0.0625em #002F83,
            0 -0.0625em 0.0625em #002F83,
            0 0.25em 0.0625em #002F83,
            -0.125em 0.25em 0.0625em #002F83,
            0.125em 0.1875em 0.125em #002F83;  
}


/* Get Data */


/* Refresh stats */



/*MEDIA QUERIES*/

@media only screen and (min-width: 768px) {
  .card {
    flex-basis: 25%;
  }
}
@media only screen and (min-width: 1440px) {

  #clash-cards, #deck-links {
    max-width: 50%;
  }
  #deck-links {
  }
  .card {
    flex-basis: 18%;
  }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}



.deck-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}




.results-wrapper {
  display: flex;
}


